* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: black;
    color: white;
}

.logo {
    margin-left: 10px;
    font-size: 35px;
    cursor: pointer;
}

.logoimg {
    height: 37px;
    width: 37px;
    margin-bottom: 5px;
    margin-right: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.logo:hover {
    color: lightcoral;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
}

.nav-links:hover {
    color: lightskyblue;
}

.home,
.about,
.services,
.contact,
.signup {
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home:hover,
.about:hover,
.services:hover,
.contact:hover {
    color: rgb(244, 8, 47);
}

.signup {
    border: 2px solid white;
    border-radius: 5px;
}

.signup:hover {
    background-color: white;
    color: black;
}

.mobile-menu-icon {
    display: none;
}

@media screen and (max-width: 780px) {
    .logo {
        display: flex;
        position: absolute;
        top: 15px;
        left: 35px;
    }
    .nav-links {
        display: none;
    }
    .nav-links-mobile {
        position: absolute;
        display: block;
        list-style: none;
        background-color: black;
        color: white;
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 100%;
    }
    .home,
    .about,
    .contact,
    .services,
    .signup {
        color: white;
        text-align: center;
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease;
    }
    .signup {
        border: none;
    }
    .mobile-menu-icon {
        cursor: pointer;
        display: block;
        position: absolute;
        font-size: 30px;
        color: white;
        background-color: black;
        border: none;
        outline: none;
        top: 15px;
        right: 25px;
    }
}