* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footercontainer {
    max-width: 1170px;
    margin: auto;
}

.footerrow {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    margin-top: 50px;
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer-col h4:hover {
    color: aqua;
    cursor: pointer;
    font-size: larger;
}

.footer-col h4::before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: crimson;
    height: 2px;
    box-sizing: border-box;
    width: 70px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 350;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 6px;
    font-weight: 600;
}

.footer-col .social-links a {
    display: inline-block;
    font-size: larger;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
    font-weight: 400;
    font-size: xx-large;
}

@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

.footer .rese {
    color: #bbbbbb;
    margin-top: 60px;
    padding-left: 1000px;
    font-size: small;
}

.footer .rese h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}